server:
  port: 8888

spring:
  application:
    name: config-service
  cloud:
    config:
      server:
        git:
          uri: https://github.com/emilianoperez-tq/insurance-config
          default-label: main
          clone-on-start: true

logging:
  level:
    root: INFO